[submodule "poeditor-android"]
	path = poeditor-android
	url = https://github.com/penn5/poeditor-android
[submodule "materialdesignicons-android"]
	path = materialdesignicons-android
	url = https://github.com/penn5/materialdesignicons-android
